* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */

header {
    background-color: rgba(231, 245, 248, 0.658);
    .logoCaelum {
        width: 08vw;
        height: 08vh;
    }
}

/* TITULOS QUE DIVIDEN SECCIONES DENTRO DEL HOME */

.tituloDivision {
    background-color: rgba(231, 245, 248, 0.658);
        width: 100%;
    height: auto;
}


/* CARD DE CONTACTO */

.cardContacto { 
     .card-body {
        background-color:  rgba(211, 211, 211, 0.425);
    }
    }

    /* ESTILO BOTON */

    .btn {
        background-color:rgb(116, 133, 138);
        transition: 350ms all;
        color: white;
    }

    .btn:hover a {
        font-weight: bold;;
    }


    