* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(../MultimediaProy/imagenfondo.jpg);
    background-size: cover;
}

/* HEADER */

header {
    background-color: rgba(255, 255, 224, 0.5);
    .logoCaelum {
        width: 08vw;
        height: 08vh;
    }
}

/* TITULOS QUE DIVIDEN SECCIONES DENTRO DEL HOME */

.tituloDivision {
    background-color: rgb(255, 255, 224);
    width: 100%;
    height: auto;
}