

@import "_generales";
@import "_footer";

/* SECCIÓN PRINCIPAL */
.seccionPrincipal {
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/xsVxY84/fondo-Index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-self: center;
    .textoSecPrincipal {
        height: 100%;
    }
}


/* SECCIÓN SERVICIOS */

@media only screen and (min-width: 1000px) {
    .rowServicios {
      height: 40vh;
    }
  }

    @each $divServicios in Masajes, LimpiezaFacial, Sauna, Hidroterapia {
        .div#{$divServicios} {
        background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url('../Imagenes/#{$divServicios}.jpg');
       background-size: cover;
       background-position: center;
        background-repeat: no-repeat;
         display: flex;
             justify-content: center;
             align-items: center; 
            }

         &:hover.div#{$divServicios} {
                background-image:  url('../Imagenes/#{$divServicios}.jpg');   
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat
      }

      &:hover.div#{$divServicios} a {
        color:white }
    }
    

    .seccionServicios {
a {
    text-decoration: none;
    color: black;
    font-size: x-large; }

}




/* SECCIÓN MEMBRESÍA */

.categoriasMembresias {
    background-image:linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/mhxjPdZ/Fondo-Seccion-Membresias.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .divBasica {
        align-items: center;
    }
}

/* SECCIÓN CONTACTO */

.seccionContacto {
    background-image:linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(//i.ibb.co/54F9MvT/Fondo-Contacto-Index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* PÁGINA DE CONTACTO */

/* FORMULARIO */

.paginaContacto {
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/QQ9PSHM/Fondo-Contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
      .divFormulario {
        background-color: rgba(211, 211, 211, 0.425)
      }
}

/* PAGINA MEMBRESIAS */

.paginaMembresias {

.tituloMembresias {
    background-color:rgba(211, 211, 211, 0.486)
}
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/vXCtwYq/Fondo-Membresias2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* PÁGINA NOSOTROS  */

.seccionAcercaDe {
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/DwBLMgr/Fondo-Acerca-De2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}



/* PÁGINA SERVICIOS */


.headerServicios {
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/7KkW2VT/Fondo-Servicios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* MASAJES */

@media only screen and (min-width: 1000px) {
    .rowMasajes {
      height: 80vh;
    }
  }

@each $divMasajesServicios in Relajante, Antiestres, Reductor  {
    .div#{$divMasajesServicios} {
    background-image: linear-gradient(rgba(255, 255, 255, 0.473), rgba(255, 255, 255, 0.473)), url('../Imagenes/#{$divMasajesServicios}.jpg');
   background-size: cover;
   background-position: center;
    background-repeat: no-repeat;     
    display: flex;
    justify-content: center;
    align-items: center; 
        }

     &:hover.div#{$divMasajesServicios} {
            background-image:  url('../Imagenes/#{$divMasajesServicios}.jpg');   
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat
  }

  &:hover.div#{$divMasajesServicios} {
    color:white }

}


/* SAUNA */

.saunaImgServicios {
    height: fit-content;
}

/* LIMPIEZA FACIAL */

.divLimpiezaFacialImagen {
    background-image: linear-gradient(rgba(255, 255, 255, 0.400), rgba(255, 255, 255, 0.400)), url(https://i.ibb.co/zrp2yD2/Facial.jpg);
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
}


    /* HIDROTERAPIA */

 .divHidroterapia2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.400), rgba(255, 255, 255, 0.400)), url(https://i.ibb.co/K9B1bVy/Fondo-Hidroterapia.jpg);
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
 }

