

@import "_generales";
@import "_footer";

/* SECCIÓN PRINCIPAL */
.seccionPrincipal {
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(../MultimediaProy/fondoFinalProyecto.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-self: center;
    .textoSecPrincipal {
        height: 100%;
    }
    .btn {
        background-color: rgba(255, 255, 224, 0.808);
        transition: 350ms all;
    }
    &:hover a {
        font-weight: bold;
    }
}


/* SECCIÓN SERVICIOS */

@media only screen and (min-width: 1000px) {
    .rowServicios {
      height: 40vh;
    }
  }

    @each $divServicios in Masajes, LimpiezaFacial, Sauna, Hidroterapia {
        .div#{$divServicios} {
        background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url('../MultimediaProy/#{$divServicios}.jpg');
       background-size: cover;
       background-position: center;
        background-repeat: no-repeat;
         display: flex;
             justify-content: center;
             align-items: center; 
            }

         &:hover.div#{$divServicios} {
                background-image:  url('../MultimediaProy/#{$divServicios}.jpg');   
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat
      }

      &:hover.div#{$divServicios} a {
        color:white }
    }
    

    .seccionServicios {
a {
    text-decoration: none;
    color: black;
    font-size: x-large; }

}




/* SECCIÓN MEMBRESÍA */

.categoriasMembresias {
    background-image:linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(../MultimediaProy/fondoPiscina.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .btn {
        background-color:  rgba(255, 255, 224, 0.808);
    }
    .divBasica {
        align-items: center;
    }
}


/* SECCION DE RESERVA DENTRO DE INDEX */

.seccionReserva {
    .btn {
        background-color: rgba(255, 255, 224, 0.808);
    }
    .card {
        background-color: transparent;
        border: none
    }
    .cardReservas {
        background-color: rgba(255, 251, 200, 0.5);
    }
}


/* PÁGINA DE CONTACTO */

/* FORMULARIO */

.paginaContacto {
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(../MultimediaProy/fondoBañera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
      .divFormulario {
        background-color: rgba(211, 211, 211, 0.425)
      }
      .Enviar .btn {
        background-color: rgba(255, 255, 224, 0.808);
     }
}

/* PAGINA MEMBRESIAS */

.paginaMembresias {

.tituloMembresias {
    background-color:rgba(211, 211, 211, 0.486)
}

@each $divMembresias in Basica, VIP, Diamante {
    .div#{$divMembresias} {
        background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url('../MultimediaProy/#{$divMembresias}.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(../MultimediaProy/fondotituloGrande.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




.cardContactoMembresia { 

.btn {
    background-color: rgba(255, 255, 224, 0.808);
}

 .card-body {
    background-color:  rgba(211, 211, 211, 0.425);
}
}




/* PÁGINA NOSOTROS  */

.seccionAcercaDe {
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(../MultimediaProy/fotoMujeresSpa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.fondo1Diferencias {
    background-color: rgb(250, 237, 205);
}

.fondo2Diferencias {
    background-color: rgb(254, 250, 224);
}

/* PÁGINA SERVICIOS */

.divTextoServicios {
    background-color: rgba(255, 255, 255, 0.726);
}


/* MASAJES */

@media only screen and (min-width: 1000px) {
    .rowMasajes {
      height: 80vh;
    }
  }

@each $divMasajesServicios in Relajante, Antiestres, Reductor  {
    .div#{$divMasajesServicios} {
    background-image: linear-gradient(rgba(255, 255, 255, 0.473), rgba(255, 255, 255, 0.473)), url('../MultimediaProy/#{$divMasajesServicios}.jpg');
   background-size: cover;
   background-position: center;
    background-repeat: no-repeat;     
    display: flex;
    justify-content: center;
    align-items: center; 
        }

     &:hover.div#{$divMasajesServicios} {
            background-image:  url('../MultimediaProy/#{$divMasajesServicios}.jpg');   
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat
  }

  &:hover.div#{$divMasajesServicios} {
    color:white }

}

/* LIMPIEZA FACIAL */

@each $divLimpiezaFacialServicios in GoldenFacial, DeepTreatment {
    .div#{$divLimpiezaFacialServicios} {
        background-image: linear-gradient(rgba(255, 255, 255, 0.300), rgba(255, 255, 255, 0.300)),url('../MultimediaProy/#{$divLimpiezaFacialServicios}.jpg');
       background-size: cover;
       background-position: center;
        background-repeat: no-repeat;     
        display: flex;
        justify-content: center;
        align-items: center; 
        color: white;
            }
}

/* SAUNA */

@media only screen and (min-width: 1000px) {
    .divServiciosSauna p {
      margin-right: 30vw;
    }
  }

  .divServiciosSauna {
      background-image: linear-gradient(rgba(255, 255, 255, 0.400), rgba(255, 255, 255, 0.400)), url(../MultimediaProy/SaunaServicios.jpg);
      background-size: cover;
      background-position: center;
       background-repeat: no-repeat;
    }

    /* HIDROTERAPIA */

 .divHidroterapia2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.400), rgba(255, 255, 255, 0.400)), url(../MultimediaProy/Hidroterapia2.jpg);
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
     height: 60vh;
 }