* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(./MultimediaProy/imagenfondo.jpg);
    background-size: cover;
}

header {
    background-color: rgba(255, 255, 224, 0.5);
}

.seccionPrincipal {
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(./MultimediaProy/fondoFinalProyecto.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.seccionServicios col {
    width: 100%;
}

.tituloDivision {
    background-color: rgba(255, 255, 224, 0.808);
    width: 100%;
    height: 100%;
}

.seccionServicios .divMasajes {
    background-image:linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(./MultimediaProy/masaje.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.seccionServicios .divLimpiezaFacial {
    background-image:linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(./MultimediaProy/facialFondoCel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.seccionServicios .divSauna {
    background-image:linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(./MultimediaProy/saunaHomeDesktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.seccionServicios .divHidroterapia {
        background-image:linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(./MultimediaProy/hidroterapiaFondoCel.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}


.seccionReserva {
    height: 100%;
}

.seccionReserva .btn {
    background-color: rgba(255, 255, 224, 0.808);
}

.seccionReserva .card  {
    background-color: rgba(255, 255, 224, 0.5);
}