@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* FONDOS */
.bodyFondo1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/M9ch6mf/Fondo-Index.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/M9ch6mf/Fondo-Index.jpg);
  background-size: cover;
}

/* HEADER */
header {
  background-color: rgba(255, 255, 224, 0.5);
}

header .logoCaelum {
  width: 08vw;
  height: 08vh;
}

/* TITULOS QUE DIVIDEN SECCIONES DENTRO DEL HOME */
.tituloDivision {
  background-color: lightyellow;
  width: 100%;
  height: auto;
}

.footerCaelum {
  background-color: rgba(211, 211, 211, 0.39);
  color: black;
}

.linksFooter li a {
  color: black;
  text-decoration: none;
}

.linksFooter:hover li a {
  color: black;
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #f5c506;
}

.about-company i {
  font-size: 25px;
}

.about-company a {
  color: black;
}

.about-company:hover a {
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #f5c506;
}

.locationFooter i {
  font-size: 18px;
}

.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* SECCIÓN PRINCIPAL */
.seccionPrincipal {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/xsVxY84/fondo-Index.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/xsVxY84/fondo-Index.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.seccionPrincipal .textoSecPrincipal {
  height: 100%;
}

.seccionPrincipal .btn {
  background-color: rgba(255, 255, 224, 0.808);
  -webkit-transition: 350ms all;
  transition: 350ms all;
}

.seccionPrincipal:hover a {
  font-weight: bold;
}

/* SECCIÓN SERVICIOS */
@media only screen and (min-width: 1000px) {
  .rowServicios {
    height: 40vh;
  }
}

.divMasajes {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../Imagenes/Masajes.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../Imagenes/Masajes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divMasajes {
  background-image: url("../Imagenes/Masajes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divMasajes a {
  color: white;
}

.divLimpiezaFacial {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../Imagenes/LimpiezaFacial.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../Imagenes/LimpiezaFacial.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divLimpiezaFacial {
  background-image: url("../Imagenes/LimpiezaFacial.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divLimpiezaFacial a {
  color: white;
}

.divSauna {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../Imagenes/Sauna.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../Imagenes/Sauna.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divSauna {
  background-image: url("../Imagenes/Sauna.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divSauna a {
  color: white;
}

.divHidroterapia {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../Imagenes/Hidroterapia.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../Imagenes/Hidroterapia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divHidroterapia {
  background-image: url("../Imagenes/Hidroterapia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divHidroterapia a {
  color: white;
}

.seccionServicios a {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

/* SECCIÓN MEMBRESÍA */
.categoriasMembresias {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/mhxjPdZ/Fondo-Seccion-Membresias.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/mhxjPdZ/Fondo-Seccion-Membresias.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.categoriasMembresias .btn {
  background-color: rgba(255, 255, 224, 0.808);
}

.categoriasMembresias .divBasica {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* SECCION DE RESERVA DENTRO DE INDEX */
.seccionReserva .btn {
  background-color: rgba(255, 255, 224, 0.808);
}

.seccionReserva .card {
  background-color: transparent;
  border: none;
}

.seccionReserva .cardReservas {
  background-color: rgba(255, 251, 200, 0.5);
}

.seccionReserva .card-title {
  font-size: large;
}

/* PÁGINA DE CONTACTO */
/* FORMULARIO */
.paginaContacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/QQ9PSHM/Fondo-Contacto.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/QQ9PSHM/Fondo-Contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.paginaContacto .divFormulario {
  background-color: rgba(211, 211, 211, 0.425);
}

.paginaContacto .Enviar .btn {
  background-color: rgba(255, 255, 224, 0.808);
}

/* PAGINA MEMBRESIAS */
.paginaMembresias {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/bdFyJM3/Fondo-Membresias.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/bdFyJM3/Fondo-Membresias.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.paginaMembresias .tituloMembresias {
  background-color: rgba(211, 211, 211, 0.486);
}

.paginaMembresias .divBasica {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../MultimediaProy/Basica.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../MultimediaProy/Basica.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.paginaMembresias .divVIP {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../MultimediaProy/VIP.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../MultimediaProy/VIP.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.paginaMembresias .divDiamante {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../MultimediaProy/Diamante.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../MultimediaProy/Diamante.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardContactoMembresia .btn {
  background-color: rgba(255, 255, 224, 0.808);
}

.cardContactoMembresia .card-body {
  background-color: rgba(211, 211, 211, 0.425);
}

/* PÁGINA NOSOTROS  */
.seccionAcercaDe {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/GFnp90P/Seccion-Acerca-De.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/GFnp90P/Seccion-Acerca-De.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fondo1Diferencias {
  background-color: #faedcd;
}

.fondo2Diferencias {
  background-color: #fefae0;
}

/* PÁGINA SERVICIOS */
.divTextoServicios {
  background-color: rgba(255, 255, 255, 0.726);
}

/* MASAJES */
@media only screen and (min-width: 1000px) {
  .rowMasajes {
    height: 80vh;
  }
}

.divRelajante {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.473)), to(rgba(255, 255, 255, 0.473))), url("../MultimediaProy/Relajante.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.473), rgba(255, 255, 255, 0.473)), url("../MultimediaProy/Relajante.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divRelajante {
  background-image: url("../MultimediaProy/Relajante.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divRelajante {
  color: white;
}

.divAntiestres {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.473)), to(rgba(255, 255, 255, 0.473))), url("../MultimediaProy/Antiestres.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.473), rgba(255, 255, 255, 0.473)), url("../MultimediaProy/Antiestres.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divAntiestres {
  background-image: url("../MultimediaProy/Antiestres.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divAntiestres {
  color: white;
}

.divReductor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.473)), to(rgba(255, 255, 255, 0.473))), url("../MultimediaProy/Reductor.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.473), rgba(255, 255, 255, 0.473)), url("../MultimediaProy/Reductor.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divReductor {
  background-image: url("../MultimediaProy/Reductor.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divReductor {
  color: white;
}

/* LIMPIEZA FACIAL */
.divGoldenFacial {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url("../MultimediaProy/GoldenFacial.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../MultimediaProy/GoldenFacial.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.divDeepTreatment {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url("../MultimediaProy/DeepTreatment.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../MultimediaProy/DeepTreatment.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

/* SAUNA */
@media only screen and (min-width: 1000px) {
  .divServiciosSauna p {
    margin-right: 30vw;
  }
}

.divServiciosSauna {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../MultimediaProy/SaunaServicios.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../MultimediaProy/SaunaServicios.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* HIDROTERAPIA */
.divHidroterapia2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../MultimediaProy/Hidroterapia2.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../MultimediaProy/Hidroterapia2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}
/*# sourceMappingURL=styles.css.map */