@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
  background-color: rgba(231, 245, 248, 0.658);
}

header .logoCaelum {
  width: 08vw;
  height: 08vh;
}

/* TITULOS QUE DIVIDEN SECCIONES DENTRO DEL HOME */
.tituloDivision {
  background-color: rgba(231, 245, 248, 0.658);
  width: 100%;
  height: auto;
}

/* CARD DE CONTACTO */
.cardContacto .card-body {
  background-color: rgba(211, 211, 211, 0.425);
}

/* ESTILO BOTON */
.btn {
  background-color: #74858a;
  -webkit-transition: 350ms all;
  transition: 350ms all;
  color: white;
}

.btn:hover a {
  font-weight: bold;
}

/* TEXTOS EN SERVICIOS */
.bloqueAzul {
  background-color: #74858a;
  color: white;
}

.footerCaelum {
  background-color: rgba(211, 211, 211, 0.39);
  color: black;
}

.linksFooter li a {
  color: black;
  text-decoration: none;
}

.linksFooter:hover li a {
  color: black;
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #74858a;
}

.about-company i {
  font-size: 25px;
}

.about-company a {
  color: black;
}

.about-company:hover a {
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #74858a;
}

.locationFooter i {
  font-size: 18px;
}

.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* SECCIÓN PRINCIPAL */
.seccionPrincipal {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/xsVxY84/fondo-Index.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/xsVxY84/fondo-Index.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.seccionPrincipal .textoSecPrincipal {
  height: 100%;
}

/* SECCIÓN SERVICIOS */
@media only screen and (min-width: 1000px) {
  .rowServicios {
    height: 40vh;
  }
}

.divMasajes {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../Imagenes/Masajes.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../Imagenes/Masajes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divMasajes {
  background-image: url("../Imagenes/Masajes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divMasajes a {
  color: white;
}

.divLimpiezaFacial {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../Imagenes/LimpiezaFacial.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../Imagenes/LimpiezaFacial.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divLimpiezaFacial {
  background-image: url("../Imagenes/LimpiezaFacial.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divLimpiezaFacial a {
  color: white;
}

.divSauna {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../Imagenes/Sauna.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../Imagenes/Sauna.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divSauna {
  background-image: url("../Imagenes/Sauna.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divSauna a {
  color: white;
}

.divHidroterapia {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url("../Imagenes/Hidroterapia.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../Imagenes/Hidroterapia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divHidroterapia {
  background-image: url("../Imagenes/Hidroterapia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divHidroterapia a {
  color: white;
}

.seccionServicios a {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

/* SECCIÓN MEMBRESÍA */
.categoriasMembresias {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/mhxjPdZ/Fondo-Seccion-Membresias.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/mhxjPdZ/Fondo-Seccion-Membresias.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.categoriasMembresias .divBasica {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* SECCIÓN CONTACTO */
.seccionContacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(//i.ibb.co/54F9MvT/Fondo-Contacto-Index.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(//i.ibb.co/54F9MvT/Fondo-Contacto-Index.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* PÁGINA DE CONTACTO */
/* FORMULARIO */
.paginaContacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/QQ9PSHM/Fondo-Contacto.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/QQ9PSHM/Fondo-Contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.paginaContacto .divFormulario {
  background-color: rgba(211, 211, 211, 0.425);
}

/* PAGINA MEMBRESIAS */
.paginaMembresias {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/vXCtwYq/Fondo-Membresias2.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/vXCtwYq/Fondo-Membresias2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.paginaMembresias .tituloMembresias {
  background-color: rgba(211, 211, 211, 0.486);
}

/* PÁGINA NOSOTROS  */
.seccionAcercaDe {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/DwBLMgr/Fondo-Acerca-De2.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/DwBLMgr/Fondo-Acerca-De2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* PÁGINA SERVICIOS */
.headerServicios {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.699)), to(rgba(255, 255, 255, 0.699))), url(https://i.ibb.co/7KkW2VT/Fondo-Servicios.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url(https://i.ibb.co/7KkW2VT/Fondo-Servicios.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* MASAJES */
@media only screen and (min-width: 1000px) {
  .rowMasajes {
    height: 80vh;
  }
}

.divRelajante {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.473)), to(rgba(255, 255, 255, 0.473))), url("../Imagenes/Relajante.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.473), rgba(255, 255, 255, 0.473)), url("../Imagenes/Relajante.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divRelajante {
  background-image: url("../Imagenes/Relajante.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divRelajante {
  color: white;
}

.divAntiestres {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.473)), to(rgba(255, 255, 255, 0.473))), url("../Imagenes/Antiestres.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.473), rgba(255, 255, 255, 0.473)), url("../Imagenes/Antiestres.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divAntiestres {
  background-image: url("../Imagenes/Antiestres.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divAntiestres {
  color: white;
}

.divReductor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.473)), to(rgba(255, 255, 255, 0.473))), url("../Imagenes/Reductor.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.473), rgba(255, 255, 255, 0.473)), url("../Imagenes/Reductor.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:hover.divReductor {
  background-image: url("../Imagenes/Reductor.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:hover.divReductor {
  color: white;
}

/* LIMPIEZA FACIAL */
.divLimpiezaFacialImagen {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(https://i.ibb.co/zrp2yD2/Facial.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(https://i.ibb.co/zrp2yD2/Facial.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* HIDROTERAPIA */
.divHidroterapia2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(https://i.ibb.co/K9B1bVy/Fondo-Hidroterapia.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(https://i.ibb.co/K9B1bVy/Fondo-Hidroterapia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}
/*# sourceMappingURL=styles.css.map */